server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/fitness_user_db
    username: postgres
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/